.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: rgb(23, 25, 26) !important;
    color: white !important;
}
p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem !important;
}
.titreSection {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.08em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.couleur {
    color: #aa56f0;
}
.gras {
    font-weight: bold;
}
.alignLeft {
    text-align: left;
}
.divFormation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divExperience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.cardExperience {
    width: 48rem;
}
.titreCard {
    text-align: center;
    color: #aa56f0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
.divProjets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cardProjet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white !important;
    background-color:rgb(33, 37, 41) !important;
    border: none;
}
.divProjet {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titreCardProjet {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.08rem;
}
.divLiens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* ---------------- SCROLLBAR ---------------- */
::-webkit-scrollbar 
{
    width: 17px;
    padding: 0;
    margin: 0;
    background-color: rgba(34, 37, 38, 1);
}
  ::-webkit-scrollbar-track 
{
    background-color: transparent;
}
::-webkit-scrollbar-thumb 
{
    background-color: rgba(72, 78, 81, 1);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover 
{
    background-color: rgb(91, 98, 101);
}
/* Mozilla Firefox */
html 
{
    scrollbar-color: rgba(34, 37, 38, 1) rgba(72, 78, 81, 1);
}
.bodyDiscussion 
{
    scrollbar-width: thin;
    scrollbar-color: #343a40 transparent;
}